/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:ital,wght@0,700;1,300&display=swap");

*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(249, 249, 249);
}

a{
    text-decoration: none;
}