ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
ul li a{
    height: 20.5rem;
    width: 20rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    display: flex;
    margin: 0.5rem;
    flex-direction: column;
    overflow: hidden;
    outline: none;
    text-decoration: none !important;
    
}
li a img {
   width: 320px;
   height: 200px;
   text-decoration: none !important;
}

li a:hover{
    opacity: 0.85;
    cursor: pointer;
    text-decoration: none !important;
}

.content{
    padding: .5rem 1rem;
    position: relative;
    background-color: white;
    text-decoration: none !important;
    color: black;
}

.favorite{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
    color: rgb(24, 24, 24);
}

.favorite.not{
    color: rgb(172, 172, 172)
}

.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.origins {
    flex: 9;
}
.origins span {
    border-radius: 2rem;
    background-color: beige;
    display: inline-block;
    font-size: .8rem;
    color: black !important; 
    margin-right: .3rem;
    text-decoration: none;
}

.cook-time{
    font-size: .9rem;
    flex: 3;
    text-align: right;
}
.price{
    color: #414141;
    margin-top: 1.7rem;
}