ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
li a{
    height: 20rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    display: flex;
    margin: 0.5rem;
    flex-direction: column;
    overflow: hidden;

}
li a img {
   width: 320px;
   height: 200px;
   object-fit: cover;
}

li a:hover{
    opacity: 0.85;
    cursor: pointer;
}